.kvadrat {
	height: 200px;
    width: 200px;
    background: #ccc;
    position: relative;
    float: left;
    margin: 30px;
    text-align: center;
    font-size: 50px;
    line-height: 200px;
    color: #fff;
    border-radius: 5px
}
body {
    margin-top: 30px;
}
.naslov {
	margin-bottom: 20px;
    font-family: monospace
}
input {margin-left: 10px;}
.btn {margin-top: 10px;}